/*noinspection CssUnknownTarget*/
body {
    background-image: url("/images/background.png");
    font-family: "Light", sans-serif;
}

.wrapper {
    margin: 0 auto;
    text-align: center;
    width: 1000px;
}

.elemleft {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}

.pencil1,.pencil2 {
    height: 400px;
    border: solid transparent 10px;
}

.white-eraser,.black-eraser {
    display: block;
    width: 150px;
}

/*noinspection CssUnknownTarget*/
.letter {
    background-image: url("/images/page.png");
    background-size: 100% auto;
    text-align: center;
    padding-top: 10px;
    width: 450px;
    height: 634px;
    box-shadow: 4px 7px 13px #333;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
}

.menu-wrapper {
    padding-top: 15px;
}

.menu {
    margin: 10px;
    font-size: 16pt;
    border: 5px;
}

.line {
    width: 400px;
    height: 1px;
    background-color: #ddd;
    margin: 15px auto;
}

.elemright {
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
}

/*noinspection CssUnknownTarget*/
.white-card, .black-card {
    width: 199px;
    height: 143px;
    background-size: 100% auto;
    box-sizing: border-box;
}

/*noinspection CssUnknownTarget*/
.white-card {
    line-height: 40px;
    padding: 40px;
    background-image: url("/images/white-card.png");
}

/*noinspection CssUnknownTarget*/
.black-card {
    background-image: url("/images/black-card.png");
}

.mail {
    font-style: italic;
    display: block;
}

a img {
    border: none;
}

.mini-pic {
    height: 25px;
    width: 25px;
    margin-left: 2px;
    margin-right: 2px;
}

.notebook {
    display: block;
    width: 250px;
    margin-top: 50px;
    box-sizing: border-box;
}