extends layout.jade

block scripts
    link(rel='stylesheet', href='/assets/stylesheets/layout.css')
    link(rel='stylesheet', href='/assets/stylesheets/about.css')

block content
    p Hi! My name is Anton Istomin. I'm Ural Federal University student.
    img.photo(src="/images/photo.png")