extends layout.jade

block stylesheets
    link(rel='stylesheet', href='/assets/stylesheets/layout.css')
    link(rel='stylesheet', href='/assets/stylesheets/about.css')

block content
    p Hi! My name is Anton Istomin. 
    p I'm Ural Federal University student.
    img.photo(src="/images/photo.png", alt="photo")