extends layout.jade

block append stylesheets
    link(rel='stylesheet', href='/assets/stylesheets/feedback.css')

mixin entry(id, name, ext)
    a.gitem(id=id, href='/images/gallery/'+name+'.'+ext, onclick='onClick(event)')
        img.mini(src='/images/gallery/mini/'+name+'.'+ext, alt=name)

mixin comment(author, date, text)
    div.comment
        p= date+' '+author+': '+text


block content
    div.container
        h3 Post your thoughts here
        form#form1(action="/feedback" method="post")
            textarea.feedbackarea(name="text")
            div.input_wrapper
                label Name: 
                input(type="text" name="login")
                label Password: 
                input(type="password" name="password")
                input(type="submit" value="Send")
        div.comments
            - each i in comments
                +comment(i.name, i.date_posted.toTimeString().slice(0,8), i.comment_text)
              //p.comment= i 
      