extends layout.jade

block append stylesheets
    link(rel='stylesheet', href='/assets/stylesheets/gallery.css')

block append scripts
    script(src="/assets/scripts/gallery.js", type="text/javascript")

mixin entry(id, name, ext)
    a.gitem(id=id, href='/images/gallery/'+name+'.'+ext, onclick='onClick(event)')
        img.mini(src='/images/gallery/mini/'+name+'.'+ext, alt=name)

- var attributes = {'onload': 'init()'};
block content
    div.gallery
        +entry(0, "kyon1", "jpg")
        +entry(1, "kyon2", "jpg")
        +entry(2, "frusciante", "jpg")
        +entry(3, "haruhi", "jpg")
        +entry(4, "bridge", "jpg")