doctype html
// TODO: Suppressed watches
html
    head
        link(type='text/css', rel='stylesheet', href='/assets/stylesheets/index.css')
        title #{title}
    body
        div.wrapper
            div.elemleft
                div.pencils
                    img.pencil1(src="/images/pencil.png")
                    img.pencil2(src="/images/pencil.png")
                img.eraser_white(src="/images/white-eraser.png")
                img.eraser_black(src="/images/black-eraser.png")
            div.letter
            div.elemright
                img.wcard(src="/images/black-card.png")
                img.bcard(src="/images/white-card.png")
                img.notebook(src="/images/notebook.png")