doctype html
// TODO: Suppressed watches
html
    head
        block scripts
            link(type='text/css', rel='stylesheet', href='/assets/stylesheets/layout.css')
        title #{title}
    body
        div.wrapper
            div.elemleft
                div.pencils
                    img.pencil1(src="/images/pencil.png")
                    img.pencil2(src="/images/pencil.png")
                img.white-eraser(src="/images/white-eraser.png")
                img.black-eraser(src="/images/black-eraser.png")
            div.letter
                div.menu-wrapper
                    a.menu.link(href="/") HOME
                    a.menu.link(href="/about") ABOUT
                    a.menu.link(href="/gallery") GALLERY
                block content
            div.elemright
                div.bcard
                div.wcard
                    a.mail.link(href="mailto:fakeemail@gmail.com") Email me
                    div.externals
                        a(href="https://github.com/ReFruity")
                            img.minipic(src='/images/GitHub-Mark.png')
                        a(href="http://urfu.ru")
                            img.minipic(src='/images/urfu-logo.png')
                        a(href="http://imkn.urfu.ru")
                            img.minipic(src='/images/imkn-logo.png')
                img.notebook(src="/images/notebook.png")