doctype html
// TODO: Suppressed watches
html
    head
        block stylesheets
            link(type='text/css', rel='stylesheet', href='/assets/stylesheets/layout.css')
        block scripts
        title #{title}
        meta(charset="utf-8")
    //- var attributes = {};
    - var attributes = {'data-foo': 'bar'};
    body&attributes(attributes)
        div.wrapper
            div.elemleft
                div.pencils
                    img.pencil1(src="/images/pencil.png", alt="pencil")
                    img.pencil2(src="/images/pencil.png", alt="pencil")
                img.white-eraser(src="/images/white-eraser.png", alt="white-eraser")
                img.black-eraser(src="/images/black-eraser.png", alt="black-eraser")
            div.letter
                div.menu-wrapper
                    a.menu.link(href="/") HOME
                    a.menu.link(href="/about") ABOUT
                    //a.menu.link(href="/gallery") GALLERY
                div.line
                block content
            div.elemright
                div.black-card
                div.white-card
                    a.mail.link(href="mailto:fakeemail@gmail.com") Email me
                    div.externals
                        a(href="https://vk.com/ymanyak")
                            img.mini-pic(src='/images/vk-logo.png', alt="vk")
                        a(href="https://github.com/ReFruity")
                            img.mini-pic(src='/images/GitHub-Mark.png', alt="git")
                        a(href="http://urfu.ru")
                            img.mini-pic(src='/images/urfu-logo.png', alt="urfu")
                        a(href="http://imkn.urfu.ru")
                            img.mini-pic(src='/images/imkn-logo.png', alt="imkn")
                div.notebook
                    span &gt;
                    a.link(href="/gallery") Gallery
                    span &lt;